.popup__name {
  width: 100%;
  color: #000;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding: 0;
  margin: 47px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 589px) {
  .popup__name {
    margin: 76px 0 0;
  }
}
