<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Место</title>
</head>

<body class="page">

    <header class="header">
      <img class="header__logo" src="<%= require('./images/logo_header.svg')%>" alt="логотип проекта 'Меcто'.">
    </header>

    <main>
      <section class="profile">
        <button class="profile__avatar-container">
          <img class="profile__avatar" src="https://s3.nat-geo.ru/images/2020/3/23/192046828b7048648e3106b3d202c33a.max-2000x1000.jpg" alt="Фотография пользователя.">
        </button>
        <div class="profile__info">
          <div class="profile__container">
            <h1 class="profile__name"></h1>
            <button class="profile__edit-button" type="button"></button>
          </div>
          <p class="profile__description"></p>
        </div>
        <button class="profile__add-button" type="button"><img src="<%= require('./images/small_add_button.svg')%>" class="profile__vector" alt="кнопка добавления контента"></button>
      </section>

      <section class="elements">
      </section>

    </main>

    <footer class="footer">
      <p class="footer__copyright">&copy; 2022 Mesto Russia</p>
    </footer>

    <section class="popup popup_edit-profile">
      <div class="popup__container">
        <button class="popup__close popup__close_edit-profile" type="button"></button>
        <h2 class="popup__title">Редактировать профиль</h2>
        <form class="popup__form popup__form_edit-profile" name="form" novalidate>
          <label class="popup__profile-info">
            <input type="text" id="username" class="popup__input popup__input_edit_name" name ="name" placeholder="Имя" value ="" minlength="2" maxlength="40" required>
            <span class="username-error popup__error" id=""></span>
          </label>
          <label class="popup__profile-info">
            <input type="text" id = "description" class = "popup__input popup__input_edit_description" name = "about" placeholder="О себе" value ="" minlength="2" maxlength="200" required>
            <span class="description-error popup__error" id=""></span>
          </label>
          <button type="submit" class="popup__submit-button">Сохранить</button>
        </form>
      </div>
    </section>

      <section class="popup popup_new-place">
        <div class="popup__container">
          <button class="popup__close popup__close_new-place" type="button"></button>
          <h2 class="popup__title">Новое место</h2>
          <form class="popup__form popup__form_new-place" name="form" novalidate>
            <label class="popup__profile-info">
              <input id = 'place' name = "place" type="text" class="popup__input popup__input_place_name" placeholder="Название" value ="" minlength="2" maxlength="30" required>
              <span class="place-error popup__error" id=""></span>
            </label>
            <label class="popup__profile-info">
              <input type="url" name = "link" id = "link" class = "popup__input popup__input_place_link" placeholder="Ссылка на картинку" value ="" required>
              <span class="link-error popup__error" id=""></span>
            </label>
            <button type="submit" class="popup__submit-button popup__submit-button_place">Сохранить</button>
          </form>
        </div>
      </section>

      <section class="popup popup_delete">
        <div class="popup__container">
          <button class="popup__close popup__close_new-place" type="button"></button>
          <h2 class="popup__title popup__title_delete">Вы уверены?</h2>
          <form class="popup__form popup__form_new-place" name="form" novalidate>
            <button type="submit" class="popup__submit-button popup__submit-button_delete">Да</button>
          </form>
        </div>
      </section>

      <section class="popup popup_change-avatar">
        <div class="popup__container">
          <button class="popup__close popup__close_new-place" type="button"></button>
          <h2 class="popup__title">Обновить аватар</h2>
          <form class="popup__form popup__form_avatar" name="form" novalidate>
            <label class="popup__profile-info">
              <input type="url" name = "avatar" id = "avatar" class = "popup__input popup__input_avatar" placeholder="Ссылка на картинку" value ="" required>
              <span class="avatar-error popup__error" id=""></span>
            </label>
            <button type="submit" class="popup__submit-button popup__submit-button_place">Сохранить</button>
          </form>
        </div>
      </section>


      <section class="popup popup_open-picture">
        <div class="popup__picture-container">
          <figure class="popup__figure">
            <img src="<%= require('./images/elements_karachevsk.jpg')%>" class="popup__picture" alt="">
            <figcaption class="popup__description">карачевск</figcaption>
          </figure>
          <button type="button" class="popup__close popup__close_open-picture"></button>
        </div>
      </section>

      <template id="place-template">
        <article class="card">
          <img class="card__picture" src="<%= require('./images/elements_karachevsk.jpg')%>" alt="">
          <button class="card__delete-button"></button>
          <div class="card__container">
            <h2 class="card__description"></h2>
            <div class='card__like-container'>
              <button class="card__like" type="button"></button>
              <span class="card__like-count"></span>
            </div>
          </div>
        </article>
      </template>



</body>

</html>
